.con1 {
    
    height: 550px;
    width: 850px;
    border: solid black 1px;
}

.con2 {
    
    height: 400px;
    margin: 2% 11%;
    border: solid black 1px;
}

.rectangle1 {
    border: solid black 1px;
    height: 150px;
    width: 150px;
    position: relative;
    top: 75%;
    left: 25%;
}

.circle1 {
    border: solid black 1px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.center1 {
    display: flex;
    justify-content: center;
    align-items: center !important;
}
.table1{
    position: relative;
    top: 50%;
}

@media screen and (max-width:992px){
    .rectangle1 {
        border: solid black 1px;
        height: 150px;
        width: 150px;
        position: relative;
        top: 5%;
        left: 35%;
    }
    .table1{
        position: relative;
        top: 20%;
        left: 15%;
    }
}
@media screen and (max-width:425px){
    .rectangle1 {
        border: solid black 1px;
        height: 150px;
        width: 150px;
        position: relative;
        top: 5%;
        left: 25%;
    }
    .table1{
        position: relative;
        top: 5%;
        left: 0%;
    }  
    .con1 {
    
        height: 590px;
        width: 850px;
        border: solid black 1px;
    }
    
    .con2 {
        
        height: 450px;
        margin: 2% 8%;
        border: solid black 1px;
    }  
}